@import url('https://fonts.googleapis.com/css2?family=Forum&display=fallback');

::selection{
    background-color: #582294;
}

html{
    margin: auto;
    display: table;
}

@media screen and (min-width: 1232px) {
    body{
        margin: 0 14vw 4vh 14vw;
    }

    h1{
        font-size: 48px;
    }

    .navbar, .navbar-links, .footer, .footer-links{
        display: flex;
        align-items: center;
    }

    .navbar-links div:not(.curriculum){
        margin-right: 32px;
    }

    .content-center{
        margin-top: 24vh;
        max-width: calc(100% - 8vw);
    }

    .content-work{
        margin-top: 11vh;
        display: flex;
        column-count: 2;
        column-gap: 8vw;
        justify-content: space-between;
    }

    .footer-links p{
        margin-left: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1231px) {
    body{
        margin: 0 8vw 4vh 8vw;
    }

    h1{
        font-size: 48px;
    }
    
    .navbar, .navbar-links, .footer, .footer-links{
        display: flex;
        align-items: center;
    }

    .navbar-links div:not(.curriculum){
        margin-right: 32px;
    }

    .content-center{
        margin-top: 24vh;
        max-width: calc(100% - 8vw);
    }

    .content-work{
        margin-top: 11vh;
        display: flex;
        column-count: 2;
        column-gap: 8vw;
        justify-content: space-between;
    }

    .footer-links p{
        margin-left: 24px;
    }
    
}

@media screen and (min-width: 568px) and (max-width: 767px){
    body{
        margin: 0 4vw 4vh 4vw;
    }

    h1{
        font-size: 48px;
    }

    .navbar, .navbar-links, .footer, .footer-links{
        display: block;
        align-items: left;
    }

    .navbar-links div:not(.curriculum){
        margin-bottom: 16px;
    }

    .navbar-links div:first-child{
        margin-top: 48px;
    }

    .content-center{
        margin-top: 8vh;
        max-width: 100%;
    }

    .content-work{
        margin-top: 6vh;
        display: block;
    }

    .content-work div:last-child{
        margin-top: 40px;
    }

    .footer, .footer-links{
        display: flex;
        align-items: center;
    }

    .footer-links p{
        margin-left: 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 567px){
    body{
        margin: 0 4vw 4vh 4vw;
    }

    h1{
        font-size: 32px;
    }

    .navbar, .navbar-links, .footer, .footer-links{
        display: block;
        align-items: left;
    }

    .navbar-links div:not(.curriculum){
        margin-bottom: 16px;
    }

    .navbar-links div:first-child{
        margin-top: 40px;
    }

    .content-center{
        margin-top: 6vh;
        max-width: 100%;
    }

    .content-work{
        margin-top: 6vh;
        display: block;
    }

    .content-work div:last-child{
        margin-top: 40px;
    }

    .footer, .footer-links{
        display: block;
        align-items: left;
    }

    .footer-links p{
        margin-left: none;
    }

    .copyright{
        margin-top: 24px;
    }
}

body{
    background-color: #1d1e2e;
    color: white;
    font-family: 'Arial', sans-serif;
    justify-content: start;
    max-width: 1440px;
}

a{
    color: white;
    transition: 0.5s;
}

a:hover{
    opacity: 0.64;
}

h1{
    font-weight: 400;
    line-height: 100%;
}

h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

h3 a{
    font-weight: 700;
}

.icon{
    margin-right: 4px;
    width: 14px;
    height: 14px;
}

.icon-link{
    margin-left: 8px;
    width: 16px;
    height: 16px;
}

.logo{
    font-size: 16px;
    line-height: 108%;
}

.navbar{
    margin-top: 4.5vh;
    margin-bottom: 4.5vh;
    font-size: 14px;
}

.navbar-links a{
    text-decoration: none;
}

.content-center{
    font-family: 'Forum', cursive;
}

.content-center h1 a{
    text-decoration: underline;
}

.winsocial h3, .umpontoseis h3{
    margin-bottom: 16px;
}

.winsocial p, .umpontoseis p{
    font-size: 14px;
    line-height: 22px;
    opacity: 0.64;
}

.footer{
    margin-top: 5.8vh;
    font-size: 14px;
}

.navbar, .footer{
    width: 100%;
    justify-content: space-between;
}

.footer-links p{
    text-decoration: underline;
    cursor: not-allowed;
}

.copyright, .footer span{
    opacity: 0.2;
}